<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swaggerdemo.dao.IUserDao">

    <!-- 查用户 -->
    <select id="getUser" resultType="User">
        select user_id,username,user_pwd,gmt_create,gmt_modified from user where user_id=#{userId}
    </select>


</mapper>